<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.university.mapper.UniversityMapper">

    <resultMap type="com.ruoyi.university.domain.University" id="UniversityResult">
        <id property="universityId" column="university_id"/>
        <result property="universityName" column="university_name"/>
        <result property="location" column="location"/>
        <result property="city" column="city"/>
        <result property="type" column="type"/>
        <result property="is985" column="is_985"/>
        <result property="is211" column="is_211"/>
        <result property="isDoubleFirst" column="is_double_first"/>
        <result property="level" column="level"/>
        <result property="webUrl" column="web_url"/>
    </resultMap>

    <select id="getAllUniversities" parameterType="map" resultMap="UniversityResult">
        SELECT * FROM cers_university
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (university_name LIKE CONCAT('%', #{keyword}, '%')
            OR location LIKE CONCAT('%', #{keyword}, '%')
            OR city LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="is985 != null">
            AND is_985 = #{is985}
        </if>
        <if test="is211 != null">
            AND is_211 = #{is211}
        </if>
        <if test="isDoubleFirst != null">
            AND is_double_first = #{isDoubleFirst}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
        ORDER BY university_id ASC
    </select>

    <select id="getUniversityById" parameterType="Long" resultMap="UniversityResult">
        SELECT * FROM cers_university WHERE university_id = #{universityId}
    </select>

    <insert id="addUniversity" parameterType="com.ruoyi.university.domain.University">
        INSERT INTO cers_university (university_name, location, city, type, is_985, is_211, is_double_first, level, web_url)
        VALUES (#{universityName}, #{location}, #{city}, #{type}, #{is985}, #{is211}, #{isDoubleFirst}, #{level}, #{webUrl})
    </insert>

    <update id="updateUniversity" parameterType="com.ruoyi.university.domain.University">
        UPDATE cers_university
        SET university_name = #{universityName},
            location = #{location},
            city = #{city},
            type = #{type},
            is_985 = #{is985},
            is_211 = #{is211},
            is_double_first = #{isDoubleFirst},
            level = #{level},
            web_url = #{webUrl}
        WHERE university_id = #{universityId}
    </update>

    <delete id="deleteUniversity" parameterType="Long">
        DELETE FROM cers_university WHERE university_id = #{universityId}
    </delete>

</mapper>
